body {
  background: url(images/background.png);
  background-color: #5bbed9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;">
}
